<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>MITHILESH K</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel = "icon" href =  "/images/logo.png"   type = "image/x-icon">

    </head>
    <header id="header">
      <img src="/images/logo2.png" alt="" style="height: 50px;">
      <div class="head-element" style="width:7%;text-align: center;">Officium</div> 
      <div style="justify-content:space-between;width:80%;"></div>  
      <div class="head-element" style="width:7%;text-align: center;" ><a href="/dashboard" style="color: black;text-decoration: none;">Home</a></div>
      <div class="head-element" style="width:7%;text-align: center;" ><a href="/logout" style="color: black;text-decoration: none;">Logout</a></div>
      <div class="head-element" style="width:10%;text-align: center;" id="user" data-doc='<%= user._id %>'>
          <%= user.name %> 
        </div>
    </header>
    <body id="descrip_body">
          <span id="nameofuser" data-doc="<%= user.name %>"></span>

        <div class="descrip">
           <div class="arrange">
            <h2 id="arrangeh2" data-doc='<%= offer._id %>'>
               <%= offer.company %> </h2>
            <h4 class="tittle" id="arrangeh4_1"> Job Title:  <%= offer.tittle %></h4>
            <h4 class="tittle" id="arrangeh4_2"> Type:  <%= offer.type %></h4>
            <p id="descrip_"><%= offer.description %></p>
            <h4 id="postadmin" data-doc='<%= postadmin.id %>'> 
              Posted by: <%= postadmin.name %>
            </h4>
            <h4> Contact: <%= postadmin.number %> </h4>
            <% if (relations.length > 0) { %>
                 <% relations.forEach(relatio => { %>
                      <% if (user._id.equals(relatio.userid)) { %>
                           <% if (offer._id.equals(relatio.offerid)) { %>
                              <div style="display: flex;flex-direction:column;">
                                   <div id="applied"> Applied </div>
                              </div>
                              <% value=1 %>
                           <% } %>
                     <% } %>
                 <% }) %>
            <% } %>
            <% if(value == 0){ %>
            <form >
                <button style="border-radius: 20px;border: 1px solid #E5E1D5;background-color: #DE9576;color: #FFFFFF;
                font-size: 12px;font-weight: bold;padding: 12px 45px;letter-spacing: 1px;text-transform: uppercase;
                transition: transform 80ms ease-in;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);cursor: pointer;"  data-doc="/user/<%= offer._id %>" id="newbutton" class="applybutton" >
                Apply</button>
            </form>
            <% } %>
    
            
          </div>
        </div>
        
        
    </body>


    <script>
      const form = document.querySelector('form');
      const applybutton= document.getElementById('newbutton');
      const arrangeh2= document.getElementById('arrangeh2');
      const postadmin= document.getElementById('postadmin');
      const user= document.getElementById('user');
      const usern= document.getElementById('nameofuser');



      form.addEventListener('submit',async (e)=>{
        e.preventDefault();
      const pathofapply= applybutton.dataset.doc;
      const offerid= arrangeh2.dataset.doc;
      const postadminid= postadmin.dataset.doc;
      const userid= user.dataset.doc;
      const username= usern.dataset.doc;


      console.log( postadminid, offerid , userid , username,'yayyyyy');
      try {
        const res = await fetch(pathofapply,{
          method: 'POST',
          body: JSON.stringify({  postadminid, offerid, userid, username }),

          headers: { 'Content-Type':'application/json' }
        });
    
        const data = await res.json();
        // console.log(data);
        if(data.relat){
          location.assign('/dashboard');
        }
      } 
      catch (err) {
        console.log(err);
      }
    
    
      });
    </script>



    </html>